table {
  border-collapse: collapse;
}

table, th, td, tr {
  border: 1px solid black;
}

table {
  width: 100%;
}

td.tdKey{
  width: 350px;
}

input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: 100%;
}
